modules = ["java", "nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Status"

[[workflows.workflow]]
name = "Build Status"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[nix]
channel = "stable-25_05"
packages = ["android-tools", "curl", "openjdk17", "unzip", "wget", "imagemagick"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33891
externalPort = 3003

[[ports]]
localPort = 34683
externalPort = 3002

[[ports]]
localPort = 43499
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-26ad777e-9796-448b-831a-6cb21ca84508"

[deployment]
deploymentTarget = "autoscale"
run = ["python3", "-m", "http.server", "5000", "--bind", "0.0.0.0", "--directory", "app/build/outputs/apk/release"]
build = ["bash", "-c", "export JAVA_HOME=/nix/store/xad649j61kwkh0id5wvyiab5rliprp4d-openjdk-17.0.15+6 && export ANDROID_HOME=/home/runner/workspace/android-sdk && ./gradlew assembleRelease --no-daemon && echo 'Build completed successfully'"]
